.background-banner {
    width: 100%;
    height: 100%;
    background-image: url('../img/banners/backgroud-img-4.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.background-banner-search {
    width: 100%;
    height: 80vh;
    background-image: url('../img/banners/familia-lazer-1.jpeg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}
.background-login {
    width: 100%;
    height: 100%;
    background-image: url('../img/banners/login-1.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}