.btn-orange {
    color: var(--bg-white);
    background-color: var(--bg-orange);
    outline: none;
    box-shadow: none;
    font-size: 1rem;
    font-family: 'Ruda', sans-serif;
    font-weight: 400;
}
.btn-orange:hover {
    color: var(--bg-white);
    background-color: var(--bg-orange-hover);
}
.btn-login {
    color: var(--bg-white);
    background-color: var(--bg-orange);
    outline: none;
    box-shadow: none;
    font-size: 1rem;
    font-family: 'Ruda', sans-serif;
    font-weight: 400;
}
.btn-login:hover {
    color: var(--bg-white);
    background-color: var(--bg-orange-hover);
}
.btn-orange-outline {
    color: var(--bg-orange);
    background-color: transparent;
    outline: 2px solid var(--bg-orange);
    box-shadow: none;
    font-size: 1rem;
    font-family: 'Ruda', sans-serif;
    font-weight: 400;
}
.btn-orange-outline:hover {
    color: var(--bg-white);
    background-color: var(--bg-orange);
    border-radius: 0px;
    outline: none;
}
.btn-roxo {
    color: var(--bg-white);
    background-color: var(--bg-roxo);
    outline: none;
    box-shadow: none;
    font-size: 1rem;
    font-family: 'Ruda', sans-serif;
    font-weight: 400;
}
.btn-tooltip-default {
    width: auto;
    height: auto;
    color: var(--bg-orange);
    background-color: transparent;
    box-shadow: none;
    padding: 0px;
    outline: none;
    font-size: 1.2rem;
}
.btn-tooltip-default:hover {
    color: var(--bg-orange-hover);
    background-color: transparent;
    box-shadow: none;
    padding: 0px;
    outline: none;
}
.btn-toggle {
    color: var(--bg-marron-1);
    background-color: transparent;
    font-family: 'Ruda', sans-serif;
    font-weight: 400;
    outline: none;
    box-shadow: none;
    border: 2px solid var(--bg-marron-2);
}