.right-0 {
    right: 0px;
}
.right-25 {
    right: 25px;
}
.right-50 {
    right: 50px;
}
.right-75 {
    right: 75px;
}
.right-100 {
    right: 100px;
}
.left-0 {
    left: 0;
}
.left-25 {
    left: 25px;
}
.left-50 {
    left: 50px;
}
.left-75 {
    left: 75px;
}
.left-100 {
    left: 100px;
}