@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@400;500;600;700;800;900&display=swap');
@import './backgroud.css';
@import './colors.css';
@import './navbar.css';
@import './buttons.css';
@import './position.css';
@import './inputs.css';
@import './carousel.css';
@import './utils.css';
@import './assessments.css';
@import './card.css';
@import './progress.css';

/* Configurações de cores */
:root {
    --bg-orange:            #F46A05;
    --bg-orange-hover:      #d85f08;
    --bg-black:             #000000;
    --bg-marron-1:          #757575;
    --bg-marron-2:          #F4F4F4;
    --bg-white:             #FFFFFF;
    --bg-yellow:            #FCB705;
    --bg-roxo:              #E9008C;
}

/* Configurações do documento principal */
html, body {
    font-size: 16px;
    font-family: 'Ruda', sans-serif;
    font-weight: 400;
    width: 100%;
    height: 100%;
}